.viewable-password {
  position: relative;
  max-width: 490px;
  margin: 0 auto;

  .toggle-password {
    position: absolute;
    top: 18px;
    right: 20px;
    background: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    font-size: 0.85rem;
  }
}
