.viewable-password {
  position: relative;
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  input {
    width: 100%;
    margin: 10px 0;
    padding-right: 2.75rem;
    box-sizing: border-box;
  }

  .toggle-password {
    position: absolute;
    top: 20px;
    right: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
    padding: 0;

    img {
      display: block;
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(1);
    }
  }
}
